[submodule "code/common/vec"]
	path = code/common/vec
	url = git@github.com:20k/funvectormaths.git
[submodule "code/common/toolkit"]
	path = code/common/toolkit
	url = https://github.com/20k/toolkit
[submodule "code/common/integration"]
	path = code/common/integration
	url = git@github.com:20k/integration.git
[submodule "code/common/imgui"]
	path = code/common/imgui
	url = https://github.com/20k/imgui-fork
[submodule "code/common/networking"]
	path = code/common/networking
	url = https://github.com/20k/networking
