_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.xmake
bin
build
cache
generated
obj
/code/NRNext/NRNext.depend
/code/NRNext/NRNext.layout
/code/NRNext/imgui.ini
/code/NRNext/.cache/*
/code/NRNext/.cache